:root {
    --bezel: 40px;
    --viewport-radius: 25px;
    --sidebar-width: 200px;

    --primary-color: #2a2ab8;
    --accent-color: #6a6acd;
    --hover-color: #f4f4fc;

    --text-color-primary: #f4f4fc;
    --text-color: #d0d0e8;

    --border-width: 1px;
}
