@keyframes load_fade {
    from {
        opacity: 0;
        transition: ease-out;
    }

    to {
        opacity: 1;
        transition: ease-out;
    }
}

@keyframes opacity_waver {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes glow {
    from {
      box-shadow: 0 0 10px -10px #aef4af;
    }
    to {
      box-shadow: 0 0 10px 10px #aef4af;
    }
  }
  

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
    animation-name: load_fade;
    animation-duration: 2s;
    animation-iteration-count: 1;
    cursor: default;
}

sub {
    font-size: 10px;
}

#title {
    margin:
    background-image: linear-gradient(#1095c1 0 0);
    background-size: 200% .08em; /* .08em is our fixed height; modify as needed. */
    background-position: 200% 100%;
    background-repeat: no-repeat;
    transition: background-size .3s, background-position .3s .3s;
}

#title:hover{
    transition: background-size .3s .3s, background-position .3s;
    background-size: 200% 100%;
    background-position: 100% 100%;
}


.links {
    text-align: center;
}

#discord {
    background: linear-gradient(45deg, rgba(152,146,255,1) 0%, rgba(101,114,255,1) 35%, rgba(43,60,242,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

#valorant {
    /* -webkit-text-fill-color: #fd4556; */
    background: linear-gradient(270deg, rgba(253,69,86,1) 0%, rgba(189,57,68,1) 35%, rgba(83,33,43,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

#coding {
    background: linear-gradient(270deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
    -webkit-background-clip: text;
    color:transparent;
}

.footer{
    position:fixed;
    left:0px;
    bottom:0px;
    height: 2%;
    width:100%;
    font-size: 20px;
    transition: 0.8s ease-in-out;
    
    background: linear-gradient(180deg, rgb(137, 142, 145) 0%, rgba(44,62,80,1) 100%);
    opacity: 0.1;

    -webkit-box-shadow:0 0 200px rgba(44,62,80,1); 
    -moz-box-shadow: 0 0 200px rgba(44,62,80,1); 
    box-shadow:0 0 200px rgba(44,62,80,1);
}

.footer:hover{
    height: 20%;
    opacity: 1;
}